* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.todo-container {
    justify-items: center;
    margin-top: 20px;
}

form {
    margin-top: 10px;
    display: grid;
    grid-template-rows: 30px 30px 30px;
}

button {
    margin-top: 10px;
}

h2 {
    margin-top: 30px;
}

.displayList2 {
    justify-items: center;
    list-style: none;
    grid-template-columns: 100px 100px;
    padding: 15px;
}

.displayList {
    justify-items: center;
    list-style: none;
}